.primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(127, 108, 254), rgb(108, 210, 254) 100%);
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    background-size: 200%;
    animation: gradient 5s ease infinite;
}
@keyframes gradient {
    0% {
        background-position-x: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}
