:root {
    --bg-medium-black: #232a45;
    --bg-white: #ffffff;

    --stroke-gray: #5e6789;
    --stroke-light-gray: #edf0f6;

    --subtext: #b6b6b6;

    --black: #1c2237;
    --white: #edf0f6;

    --accent-lavender: #7F6CFE;
    --accent-lavender-darck: #5F4AE5;

    --error-dark: #EA636D;
    

}
