.homePage {
    display: flex;
    flex-direction: column;
    .homePageTop {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        .addButton {
            width: 160px;
            height: 50px;
            margin: -15px 0 0 auto;
        }
    }
    .homePageContent {
        display: flex;
        justify-content: space-between;
        height: calc((100% - 65px) - 20px);
        .mainBlocks {
            display: flex;
            justify-content: space-between;
            width: calc(70% - 10px);
            .lastEntriesSection,
            .shopListSection {
                position: relative;
                width: calc((100% / 2) - 10px);
            }
            
        }
        .widgets {
            width: calc(30% - 10px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .budgetLimitsSection {
                position: relative;
                height: calc(50% - 10px);
            }
            .tragetsSection {
                position: relative;
                height: calc(50% - 10px);
            }
        }
        .blocksSkeleton {
            border-radius: 20px;
        }
    }
}
