@import '../../app/scss/mixins';
@import '../../app/scss/typography';
.shoppingList {
    width: 100%;
    height: 100%;
    padding: 20px 5px 30px 0;
    border-radius: 20px;
    box-shadow: var(--shadow);
    background: var(--white);
    position: relative;
    display: flex;
    flex-direction: column;
    .title {
        @include title-info-card;
        margin-bottom: 30px;
        text-align: center;
    }
    .editButton {
        position: absolute;
        top: 20px;
        right: 15px;
        width: 30px;
        height: 30px;
    }
    .list {
        width: 100%;
        height: 100%;
        padding-left: 15px;
        padding-right: 5px;
        @include scrollbar;
        .item {
            display: flex;
            align-items: center;
            padding: 5px 0;
            border-bottom: 1px solid var(--light-gray);
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
            .itemInfo {
                display: flex;
                align-items: center;
                .itemCheckboxLabel {
                    position: relative;
                    width: 20px;
                    height: 20px;
                    margin-right: 15px;
                    .itemCheckbox {
                        display: none;
                        &:checked {
                            + .customCheckbox {
                                background-color: var(--accent-lavender);
                                border-color: var(--accent-lavender);
                            }
                        }
                    }
                    .customCheckbox {
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        border-radius: 4px;
                        border: 1px solid var(--prime-gray);
                        transition: background 0.3s ease-in-out,
                            border-color 0.3s ease-in-out;
                        background: url(../../assets/img/check-mark.svg) center/8px 6px
                            no-repeat;
                    }
                }

                .itemText {
                    width: 90px;
                    margin-right: 10px;
                    .itemTitle {
                        color: var(--black);
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 120%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .itemSubtitle {
                        color: var(--prime-gray);
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 130%;
                    }
                }
            }
            .itemMark {
                padding: 4px 5px 4px 10px;
                border-radius: 30px;
                opacity: 0.7;
                display: flex;
                align-items: center;
                font-size: 12px;
                font-weight: 500;
                &::before {
                    content: '';
                    display: block;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    margin-right: 5px;
                }
                &.important {
                    background: var(--light-pink);
                    color: var(--pink);
                    &::before {
                        background: var(--pink);
                    }
                }
                &.notMatter {
                    background: var(--light-turquoise);
                    color: var(--turquoise);
                    &::before {
                        background: var(--turquoise);
                    }
                }
            }
            .itemPrice {
                color: var(--black);
                font-size: 16px;
                font-weight: 400;
                line-height: 130%;
                margin-left: auto;
            }
        }
    }
}
